server:
  port: 8761

spring:
  application:
    name: eureka-server
  data:
    mongodb:
      uri: mongodb://stocksim:stocksim123@localhost:27017/stocksimulator?authSource=admin
  autoconfigure:
    exclude:
      - com.linecorp.kotlinjdsl.support.spring.data.jpa.autoconfigure.KotlinJdslAutoConfiguration

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false
    # 개발 환경 설정 - 빠른 서비스 등록/해제
    eviction-interval-timer-in-ms: 5000
    response-cache-update-interval-ms: 5000
  instance:
    hostname: localhost

# Actuator & Prometheus 모니터링
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

# Logging
logging:
  level:
    com.netflix.eureka: INFO
    com.netflix.discovery: INFO
  mongodb:
    enabled: true
