# Docker 환경 설정
server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://${MONGO_USER:stocksim}:${MONGO_PASSWORD:stocksim123}@${MONGO_HOST:mongo}:27017/stocksimulator?authSource=admin
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_HOST:eureka-server}:${EUREKA_PORT:8761}/eureka/
  instance:
    hostname: api-gateway
    prefer-ip-address: false

logging:
  mongodb:
    enabled: ${LOGGING_MONGODB_ENABLED:true}
